<<<<<<< Updated upstream
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #787878;
}
.loading{
  color: #e29973;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
>>>>>>> Stashed changes
}

@media only screen and (min-width: 425px){
  .container{
    width: 90%;
  }
}

@media only screen and (min-width: 768px){
  .container{
    width: 80%;
  }
}
@media only screen and (min-width: 1200px){
  .container{
    width: 70%;
    max-width: 1440px;
  }
}

.card-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}